@model IEnumerable<Web.Repos.Models.FutAdoptado>

@{
    ViewData["Title"] = "Index";
}

<h1>Futuros Adoptados</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="~/images/@item.ImagemGato"
                         class="rounded-start"
                         height="180" width="180"
                     asp-append-version="true" />
                    <br>
                    @item.Descripcion
                </td>
                  
            <td>
                    @Html.DisplayFor(modelItem => item.Genero.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacuna.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Enfermedad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
