@model IEnumerable<Web.Repos.Models.MaloAdoptante>

@{
    ViewData["Title"] = "Index";
}

<h1>Malos Adoptantes</h1>

<p>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Create" class="btn btn-primary">Nueva Lista</a>
            &nbsp;&nbsp;
            <a asp-action="Importar" class="btn btn-success">Importar</a>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreyApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreyApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function mostrarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("/MaloAdoptante/MostrarDatos",
                {
                    method: "POST",
                    body: formData
                })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.nombreyapellido),
                                $("<td>").text(item.direccion),
                            )
                        )
                    })
                })
        }


        function enviarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("MaloAdoptante/EnviarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    alert(dataJson.mensaje);
                })
        }

    </script>
    }